html {
    margin: 0;
    padding: 0;
}

body {
    width: 800px;
    margin: 0 auto;
    font-size: 10px;
    background-color: blanchedalmond;
}

h1 {
    color: rgb(159, 93, 93);
    font-family: 'Dela Gothic One', sans-serif;
}

